<!-- ABOUT SECTION -->
<div class="about-page">
  <h2>About</h2>
  <p>Welcome to Voyageurs - an organizational tool for National Parks that you would like to visit or have already explored. If you don't have an account, sign up <span ng-click="ctrl.changeIncludeForRegistration('signup')">here</span>. Once you've logged in, select Add Park to begin adding National Parks to your collection. Add information about each park, such as an image, location, and description, and set a priority from high to low. Don't be scared of creating too many parks! You can always search for them in the search bar or sort for them by priority. Happy exploring!
  </p>
</div>
