<!-- ABOUT SECTION -->
<div class="about-page">
  <div class="about-text">
    <h2>About</h2>
    <hr>
    <p>Welcome to Voyageurs - an organizational tool for National Parks that you would like to visit or have already explored.</p>
    <p>If you don't have an account, sign up <a href="#" ng-click="ctrl.changeIncludeForRegistration('signup')">here</a>. </p>
    <p>Once you've logged in, select Add Park to begin adding National Parks to your collection. Add information about each park, such as an image, location, and description, and set a priority from high to low.</p> <p>Don't be scared of creating too many parks! You can always search for them in the search bar or sort for them by priority.</p>
    <p>Happy exploring!</p>
  </div>
</div>
