<!-- EDIT BUTTON -->
<button ng-click="ctrl.toggleEditForm($index)">Edit Park</button>
<!-- EDIT FORM -->
<form ng-submit="ctrl.editPark(park, $index)" ng-show="$index === ctrl.indexOfEditForm">
  <label for="name">Park Name</label>
  <input type="text" ng-value="park.name" ng-model="ctrl.updatedPark.name"> <br>
  <label for="location">Image Source</label>
  <input type="text" ng-value="park.image" ng-model="ctrl.updatedPark.image"> <br>
  <label for="location">Location</label>
  <input type="text" ng-value="park.location" ng-model="ctrl.updatedPark.location"> <br>
  <label for="description">Description</label>
  <input type="text" ng-value="park.description" ng-model="ctrl.updatedPark.description"> <br>
  <label for="priority">Priority</label>
  <input type="text" ng-value="park.priority" ng-model="ctrl.updatedPark.priority"> <br>
  <label for="visited">Visited</label>
  <input type="checkbox" ng-checked="park.visited" ng-model="ctrl.updatedPark.visited"> <br>
  <label for="note" ng-if="ctrl.updatedPark.visited">Note</label>
  <input type="text" ng-value="park.note" ng-model="ctrl.updatedPark.note" ng-if="ctrl.updatedPark.visited"> <br>
  <input type="submit" value="Save Changes">
</form>
