<div class="index-container">
  <nav>
    <div class="search-bar">
      <label for="Search By">
        <input type="text" placeholder="Search" ng-model="searchBox">
      </label>
    </div>
    <div class="sort-list">
      <h3>Sort Priority:</h3>
      <label for="priority-down">High to Low</label>
      <input type="radio" name="priority" value="-priority" ng-model="priority">
      <label for="priority-up">Low to High</label>
      <input type="radio" name="priority" value="priority" ng-model="priority">
    </div>
  </nav>
  <div class="park-card" ng-repeat="park in ctrl.parks | orderBy: priority | filter: searchBox">
    <h3>{{park.name}}</h3>
    <div class="main-image">
      <h2 ng-if="park.visited">Been there, done that</h2>
      <img ng-class="park.visited ? 'visited' : 'not-visited' " src="{{park.image}}" alt="{{park.name}}">
      <div class="park-buttons">
        <button ng-click="ctrl.toggleInfoField($index)">See More</button>
        <button ng-click="ctrl.deletePark($index)">Remove</button>
        <button ng-click="ctrl.toggleEditForm($index)">Edit</button>
      </div>
    </div>
    <div class="editform" ng-include="'partials/edit.html'"></div>
    <div ng-show="$index === ctrl.indexOfInfoForm" class="index-card">
      <div class="main-info">
        <h6>Location</h6>
        <p>{{park.location}}</p>
        <h6>Description</h6>
        <p>{{park.description}}</p>
      </div>
      <div class="notes-index">
        <h6>Notes</h6>
        <p>{{park.note}}</p>
      </div>
    </div>
  </div>
</div>
