<div class="index-container">
  <nav>
    <label for="Search By">
      <input type="text" placeholder="Search" ng-model="searchBox">
    </label>
  </nav>
  <div class="park-card" ng-repeat="park in ctrl.parks | filter: searchBox">
    <h3>{{park.name}}</h3>
    <div class="main-image">
      <h2 ng-if="park.visited">Been there, done that</h2>
      <img ng-class="park.visited ? 'visited' : 'not-visited' " src="{{park.image}}" alt="{{park.name}}">
      <div class="park-buttons">
        <button ng-click="ctrl.deletePark($index)">Remove Park</button>
        <button ng-click="ctrl.toggleEditForm($index)">Edit Park</button>
      </div>
    </div>
    <div class="editform" ng-include="'partials/edit.html'"></div>
    <p>Location: {{park.location}}</p>
    <p>{{park.description}}</p>
    <p>Notes: {{park.note}}</p>
  </div>
</div>
