<div class="registration-container">
  <div class="registration-images"></div>
  <div class="registration-form">
    <form ng-submit="ctrl.signup()">
      <fieldset>
        <legend>Sign Up</legend>
        <input placeholder='Name' type="text" ng-model="ctrl.signupForm.name">
        <input placeholder='Username' type="text" ng-model="ctrl.signupForm.username"><br>
        <input placeholder='Password' type="password" ng-model="ctrl.signupForm.password"><br>
        <input type="submit" value="Sign Up">
      </fieldset>
    </form>
    <h3>Already have an account? <span id="create-acct" ng-click="ctrl.changeIncludeForRegistration('login')">Log in.</span></h3>
  </div>
</div>
